.space-y-3 > * + * {
  margin-top: 0.75rem;
}

.option-button {
  text-align: left;
  --padding-start: 16px;
  --padding-end: 16px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.flex-col {
  flex-direction: column;
}

.h-full {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.text-left {
  text-align: left;
}

.w-full {
  width: 100%;
}
