/* Ionic CSS Variables for LoveLingua */
:root {
  --ion-color-primary: #6b4bff;
  --ion-color-primary-rgb: 107, 75, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-secondary: #ff7ab8;
  --ion-color-tertiary: #ffcb5e;
  --ion-color-success: #2dd36f;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #eb445a;
  --ion-color-medium: #92949c;
  --ion-color-light: #f6f8fb;
}
